body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    text-align: center;
  }
  
  .gallery-heading {
    margin-top: 20px;
    font-size: 50px;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px; 
    margin: 0 auto; 
    padding: 20px;
  }
  
  .image {
    margin: 10px;
    cursor: pointer;
    border: 2px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
    flex: 0 0 calc(30% - 20px);
  }
  
  .image img {
    width: 100%;
    height: auto;
    transition: transform 0.2s;
  }
  
  .image img:hover {
    transform: scale(1.1);
  }
  
  .popup-container {
    display: none;
    position: fixed;
    top: 100px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    position: relative;
    text-align: center;
  }
  
  .popup-content img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 80px;
    color: black;
    cursor: pointer;
  }
  